.bg-login {
  min-height: 100vh;
  background-image: url('../../../../../../public/Images/forgot-password.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-login::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.content-layer {
  position: relative;
  z-index: 1;
}