.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.nav-link.active {
    color: #ffc107 !important;
    font-weight: 600;
}

.no{
    text-decoration: none;
}

.test {
    object-fit: contain;
    width: 90px;
    height: 65px;
}
.d{
    position: relative;
    right: 5px;
}